prg/cabs/
.bash_logout
.bash_profile
.bashrc
.cache/
.gitconfig
.gnupg
.librewolf
.msmtprc
.npm
.ssh
.Xauthority
.config/bookmenu/bookmarks
.config/coc/
.config/dconf/user
.config/extensions/
.config/mbsync/
.config/msmtp/
.config/mutt/
.config/nvim/plugged/
.config/notmuch-config/
.config/TabNine/
.local/share/lf/
.local/share/mail/
.local/share/newsboat/
.local/share/password-store/
.local/share/recently-used.xbel
.local/share/TabNine/
.local/share/xorg/
.local/share/zathura/
.local/src/yay/
.local/src/
.local/state/
