bks/
crs/
dev/
dls/
doc/
fls/
gms/
jnk/
med/
pic/
prg/
srv/
tmp/
web/
wrk/
.bash_logout
.bash_profile
.bashrc
.cache/
.gitconfig
.gnupg
.librewolf
.msmtprc
.npm
.ssh
.Xauthority
.config/abook/
.config/bookmenu/
.config/calcurse/
.config/coc/
.config/dconf/user
.config/extensions/
.config/fontconfig/
.config/lf/
.config/mbsync/
.config/mpd/
.config/msmtp/
.config/mutt/
.config/ncmpcpp/error.log
.config/newsboat/
.config/notmuch-config/
.config/nvim/
.config/pulse/cookie
.config/shell/
.config/TabNine/
.config/transmission-daemon/
.config/zsh/
.local/share/calcurse/
.local/share/lf/
.local/share/mail/
.local/share/newsboat/
.local/share/password-store/
.local/share/recently-used.xbel
.local/share/TabNine/
.local/share/xorg/
.local/share/zathura/
.local/src/yay/
.local/src/
.local/state/
